p{
    font-family: Arial, sans-serif;
    color: #000000;
    line-height: 1.6;
    font-weight: bold;
    font-variant: small-caps;
    font-size: medium;
    font-style: italic;
}

/* pakai Spasi untuk mengindex kedalam */
ol li a {
    color: #91ff00;
    text-decoration: none;
}

/* kalau ID pakai # */
#p1 {
    color: #ff0000;
    font-size: 20px;
}

/* kalau class pakai . */
.p1 {
    color: #0000ff;
    font-size: 24px;
    text-decoration: underline;
}

/* pakai "," untuk grouping */
.p13, .p23{
    color: #ff00ff;
    font-size: 18px;
    text-decoration: line-through;
}

.p1.cetak.tebal {
    color: #e5ff00;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
}

/* Pseudo-class */
.pseudoclass:hover {
    color: #ff00ff;
    font-size: 26px;
    text-decoration: underline;
}

.pseudoclass:link{
    color: aqua;
}

.pseudoclass :visited{
    color: #ff0202;
}

.pseudoclass:active{
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
}


/* Gaya untuk elemen pertama */
ol li:first-child a {
    color: green; /* Mengubah warna link pertama jadi hijau */
}

/* Gaya untuk elemen terakhir */
ol li:last-child a {
    color: red; /* Mengubah warna link terakhir jadi merah */
}

/* Gaya untuk elemen ke-3 */
ol li:nth-child(3) a {
    color: blue; /* Mengubah warna link pada elemen ketiga jadi biru */
}

/* Gaya untuk elemen ganjil */
ol li:nth-child(odd) a:hover {
    font-weight: bold; /* Mengubah teks link elemen ganjil jadi tebal */
    color: royalblue;
}

/* Gaya untuk elemen genap */
ol li:nth-child(even) a {
    font-style: italic; /* Mengubah teks link elemen genap jadi miring */
}



/* Gaya untuk elemen pertama berdasarkan jenisnya */
#bagian1 li:first-of-type {
    color: green; /* Mengubah warna teks elemen pertama menjadi hijau */
    font-size: 20px; /* Mengubah ukuran font menjadi lebih besar */
}

/* Gaya untuk elemen terakhir berdasarkan jenisnya */
#bagian1 li:last-of-type {
    color: red; /* Mengubah warna teks elemen terakhir menjadi merah */
    font-weight: bold; /* Membuat teks elemen terakhir menjadi tebal */
}
